/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*********************************************************************************************************************/
/*
 Basic CSS
 */

body {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

.transparent_text {
    opacity: 0;
}

.me {
    background-image: url("../images/mobile_mainimg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/*********************************************************************************************************************/

/*
 Better Understanding, Delete afterwards
 */



.about {
    background-color: green;
}

.main_project {
    background-color: yellow;
}

.projects{
    background-color: red;
}