/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.me {
    width: 40%;
}

#signature {
    width: 60%;
}


/*********************************************************************************************************************/
/*
  Basic CSS
 */

.me {
    background-image: url("../images/photo_placeholder.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/*********************************************************************************************************************/