/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.me {
    width: 67%;
}

#signature {
    width: 33%;
}

/*********************************************************************************************************************/
/*
  Basic CSS
 */

.me {
    background-image: url("../images/tablet_mainimg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/*********************************************************************************************************************/