/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.me {
    width: 40%;
}

#signature {
    width: 60%;
}

/*********************************************************************************************************************/
/*
  Basic CSS
 */

.me {
    background-image: url("../images/tablet_mainimg.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}

/*********************************************************************************************************************/