/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.me {
    width: 360px;
    margin-left: auto;
}

#signature {
    width: 540px;
    margin-right: auto;
}

.projects {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


/*********************************************************************************************************************/