/*********************************************************************************************************************/
/*
 Layout Shifter Pattern
 */

.projects {
    width: 375px;
    order: 1;
    margin-right: auto;
}

#signature {
    width: 750px;
}

.me {
    width: 375px;
    order: -1;
    margin-left: auto;
}

/*********************************************************************************************************************/